/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box ;
            box-sizing: border-box ;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    color: #fff;
    /* background: #6563ff; */
}

.container{
    width: 1165px;
    min-width: 1000px;
    margin: 0 auto;
}

.mines-casino{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    background-color: #171717;
    gap: 4%;
}

.bet{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #1E1E1E;
    padding: 38px 46px 38px 36px;
    width: 36%;
    position: relative;
}

.bet__title{
    font-size: 24px;
    color: #FF6E1C;
    padding-bottom: 31px;
}

.bet__input{
    color: #fff;
    background-color: #171717;
    border: none;
    padding: 13px 19px;
    border-radius: 5px;
    margin-bottom: 48px;
    width: 100%;
}

.bet__input.untouchable{
    pointer-events: none;
}

.bet__input::-webkit-input-placeholder{
    color: gray;
}

.bet__input::-moz-placeholder{
    color: gray;
}

.bet__input:-ms-input-placeholder{
    color: gray;
}

.bet__input::-ms-input-placeholder{
    color: gray;
}

.bet__input::placeholder{
    color: gray;
}

.bet__input-warning{
    display: none;
    position: absolute;
    border: 1px solid #FF6E1C;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
    left: 36px;
    top: 145px;
}

.bet__text{
    font-size: 22px;
    margin-bottom: 21px;
}

.bomb__container{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 44px;
    cursor: pointer;
}

.bomb__container.untouchable{
    pointer-events: none;
}

.bomb__btn-container{
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.bomb__btn{
    border: 1px solid #757575;
    background-color: transparent;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 20px; 
    cursor: pointer;
}

.bomb__calc{
    width: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bomb__calc-btn{
    border: 1px solid #9D3B05;
    padding: 18px 10px;
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.bomb__calc-stick--minus{
    width: 26px;
    height: 5px;
    border-radius: 10px;
    background-color: #FF6E1C;
}

.bomb__calc-num{
    background-color: #171717;
    font-size: 21px;
    padding: 8px 0;
    width: 34%;
    text-align: center;
}

.bomb__calc-stick--plus1{
    width: 22px;
    height: 5px;
    border-radius: 10px;
    background-color: #FF6E1C;
}

.bomb__calc-stick--plus2{
    width: 22px;
    height: 5px;
    border-radius: 10px;
    background-color: #FF6E1C;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    top: 18px;
}

.bet__btn{
    background: -webkit-gradient(linear, left top, right top, from(rgba(224,96,18,1)), to(rgba(255,184,1,1)));
    background: -o-linear-gradient(left, rgba(224,96,18,1) 0%, rgba(255,184,1,1) 100%);
    background: linear-gradient(90deg, rgba(224,96,18,1) 0%, rgba(255,184,1,1) 100%);
    border: none;
    font-size: 20px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    border-radius: 16px;
    cursor: pointer;
}

.game{
    width: 60%;
    padding: 38px 40px 38px 50px;
    background-color: #1E1E1E;
}

.game__container{
    position: relative;
    width: 100%;
    padding: 47px 0 54px 54px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(213,77,0,1)), color-stop(26%, rgba(152,61,9,1)), color-stop(54%, rgba(99,46,16,1)), color-stop(70%, rgba(56,35,23,1)), color-stop(83%, rgba(27,27,27,1)), to(rgba(27,27,27,1)));
    background: -o-linear-gradient(right, rgba(213,77,0,1) 0%, rgba(152,61,9,1) 26%, rgba(99,46,16,1) 54%, rgba(56,35,23,1) 70%, rgba(27,27,27,1) 83%, rgba(27,27,27,1) 100%);
    background: linear-gradient(270deg, rgba(213,77,0,1) 0%, rgba(152,61,9,1) 26%, rgba(99,46,16,1) 54%, rgba(56,35,23,1) 70%, rgba(27,27,27,1) 83%, rgba(27,27,27,1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 27px;
    pointer-events: none;
    border-radius: 10px;
}

.game__container.game__active{
    pointer-events: auto;
}

.overlay{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow-x: hidden;
}

.overlay__content {
    background: -webkit-gradient(linear, left top, right top, from(rgba(123,53,14,1)), color-stop(10%, rgba(99,47,18,1)), color-stop(31%, rgba(48,32,23,1)), color-stop(51%, rgba(30,26,24,1)), color-stop(67%, rgba(19,18,18,1)), color-stop(84%, rgba(14,14,13,1)), to(rgba(10,9,8,1)));
    background: -o-linear-gradient(left, rgba(123,53,14,1) 0%, rgba(99,47,18,1) 10%, rgba(48,32,23,1) 31%, rgba(30,26,24,1) 51%, rgba(19,18,18,1) 67%, rgba(14,14,13,1) 84%, rgba(10,9,8,1) 100%);
    background: linear-gradient(90deg, rgba(123,53,14,1) 0%, rgba(99,47,18,1) 10%, rgba(48,32,23,1) 31%, rgba(30,26,24,1) 51%, rgba(19,18,18,1) 67%, rgba(14,14,13,1) 84%, rgba(10,9,8,1) 100%);
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 76px 0;
    border-radius: 10px;
  }

.overlay__btn-container{
    position: absolute;
    top: 13px;
    right: 16px;
    padding: 5px;
}

.overlay__btn{
    background-color: transparent;
    border: none;
    color: #646464;
    padding: 0;
    cursor: pointer;
}

.overlay__ratio{
    font-size: 66px;
    color: #FF6E1C;
}

.overlay__reward{
    font-size: 20px;
    color: #fff;
}

.cards{
    height: 370px;
    width: 370px;
    background: transparent;
    border-radius: 10px;
}

.cards__wrapper, .card, .view{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.cards__wrapper{
    height: 100%;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.cards__wrapper .card{
    cursor: pointer;
    position: relative;
    -webkit-perspective: 800px;
            perspective: 800px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    height: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
}

.card.shake{
    -webkit-animation: shake 0.5s ease-in-out;
            animation: shake 0.5s ease-in-out;

}

@-webkit-keyframes shake {
    0%, 100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    20%{
        -webkit-transform: translateX(-13px);
                transform: translateX(-13px);
    }
    40%{
        -webkit-transform: translateX(13px);
                transform: translateX(13px);
    }
    60%{
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
    80%{
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
}

@keyframes shake {
    0%, 100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    20%{
        -webkit-transform: translateX(-13px);
                transform: translateX(-13px);
    }
    40%{
        -webkit-transform: translateX(13px);
                transform: translateX(13px);
    }
    60%{
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
    80%{
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
}

.cards__wrapper .card .view{
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    background: #FF6E1C;
    position: absolute;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition:  -webkit-transform 0.25s linear;
    transition:  -webkit-transform 0.25s linear;
    -o-transition:  transform 0.25s linear;
    transition:  transform 0.25s linear;
    transition:  transform 0.25s linear, -webkit-transform 0.25s linear;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card .back__view{
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}

.card .back__view img{
    max-width: 45px;
}

.card.flip .front__view{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background: #1E1E1E;
}

.card.flip .back__view{
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    background: #1E1E1E;
    border: 1px solid #FF6E1C;
}

.count{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 50px;
}

.count__coins, .count__bombs{
    background-color: rgba(23, 23, 23, 0.57);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 16px 0 0 16px;
    width: 140px
}

.ratio{
    width: 100%;
    background-color: #111111;
    padding: 25px 33px;
    border: 1px solid #FF6E1C;
    border-radius: 10px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    gap: 25px;
}

.ratio::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
    cursor: pointer;
}

.ratio::-webkit-scrollbar-thumb { /* плашка-бегунок */
    background: #FF6E1C;
    cursor: pointer;
}

.ratio::-webkit-scrollbar-track { /* фон */
    background: #111;
    cursor: pointer;
}

.ratio__item{
    min-width: 105px;
    padding: 20px;
    border-radius: 10px;
    color: #686868;
    border: 1px solid #686868;
    text-align: center;
}

.ratio__item.ratio__active{
    color: #FF6E1C;
    border: 1px solid #FF6E1C;
}

.history-game{
    width: 100%;
    background: #1B1B1B;
    margin-top: 60px;
    border-radius: 10px;
    padding: 0 90px;
}

.history-game__title{
    text-align: center;
    font-size: 36px;
    padding: 42px 0 52px;
}

.history-game__table {
    border-collapse: collapse;
    width: 100%;
}
  
.history-game__header{
    border-bottom: 1px solid #fff;
}

.history-game__table th{
    font-size: 18px;
    padding-bottom: 20px; 
}

.history-game__header-player,
.history-game__content-player{
    text-align: left;
}

.history-game__header-bet,
.history-game__content-bet,
.history-game__header-hit,
.history-game__content-hit,
.history-game__header-ratio,
.history-game__content-ratio{
    text-align: center;
}

.history-game__header-win,
.history-game__content-win{
    text-align: right;
}

.history-game__table td {
    font-size: 16px;
    padding-top: 30px;
}

.history-game__content-player{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* я не знаю какая будет ширина, тк будет не страница, а окно, поэтому не мог использовать vw и поэтому ширину, возможно, придется изменить */

@media (max-width: 1120px) {
    .container{
        min-width: 1000px;
    }
    .bet{
        padding: 38px 26px 28px 26px;
    }
    .bet__title{
        font-size: 20px;
    }
    .bet__input{
        margin-bottom: 30px;
    }
    .bet__input-warning{
        padding: 5px;
        font-size: 11px;
        left: 27px;
        top: 137px;
    }
    .bet__text{
        font-size: 17px;
    }
    .game{
        padding: 38px 40px 38px 50px;
    }
    .game__container{
        padding: 47px 0 54px 54px;
    }
    .overlay__content {
        gap: 19px;
        padding: 70px 0;
    }
    .overlay__ratio{
        font-size: 40px;
        color: #FF6E1C;
    }
    .overlay__reward{
        font-size: 17px;
        color: #fff;
    }
    .bomb__container{
        margin-bottom: 44px;
    }
    .bomb__btn-container{
        width: 48%;
    }
    .bomb__btn{
        padding: 10px 10px;
        font-size: 20px;
        line-height: 20px; 
    }
    .bomb__calc{
        width: 46%;
    }
    .bomb__calc-btn{
        padding: 18px 10px;
    }
    .bomb__calc-stick--minus{
        width: 26px;
        height: 5px;
    }
    .bomb__calc-num{
        font-size: 21px;
        padding: 8px 0;
        width: 34%;
    }
    .bomb__calc-stick--plus1{
        width: 22px;
        height: 5px;
    } 
    .bomb__calc-stick--plus2{
        width: 22px;
        height: 5px;
        top: 18px;
    }
    .cards{
        width: 320px;
        height: 320px;
    }
    .count{
        gap: 30px;
    }
    .count__coins,
    .count__bombs{
        padding: 7px 9px;
        font-size: 20px;
        width: 110px;
    }
    .count__coins-img{
        width: 47px;
    }
    .count__bombs-img{
        width: 50px;
    }
    .ratio{
        padding: 15px 19px;
    }
    .ratio::-webkit-scrollbar {
        width: 5px; 
        height: 5px; 
    }
    .history-game__title{
        font-size: 25px;
        padding: 28px 0 37px;
    }
    .history-game__table th {
        font-size: 14px;
        padding-bottom: 15px;
    }
    .history-game__table td {
        font-size: 12px;
        padding-top: 20px;
    }
    .history-game__content-player-img{
        width: 35px;
    }
}

@media (max-width: 1000px) {
    .container{
        min-width: 920px;
    }
    .bet{
        padding: 38px 26px 28px 26px;
    }
    .bet__title{
        font-size: 20px;
    }
    .bet__input{
        margin-bottom: 30px;
    }
    .bet__text{
        font-size: 17px;
    }
    .bet__btn{
        font-size: 17px;
    }
    .game{
        padding: 38px 35px 38px 40px;
    }
    .game__container{
        padding: 47px 0 44px 44px;
    }
    .overlay__content {
        width: 29vw;
        gap: 19px;
        padding: 70px 0;
    }
    .overlay__ratio{
        font-size: 40px;
        color: #FF6E1C;
    }
    .overlay__reward{
        font-size: 17px;
        color: #fff;
    }
    .bomb__container{
        margin-bottom: 44px;
    }
    .bomb__btn-container{
        width: 48%;
    }
    .bomb__btn{
        padding: 8px 8px;
        font-size: 17px;
        line-height: 20px; 
    }
    .bomb__calc{
        width: 46%;
    }
    .bomb__calc-btn{
        padding: 15px 8px;
    }
    .bomb__calc-stick--minus{
        width: 21px;
        height: 5px;
    }
    .bomb__calc-num{
        font-size: 18px;
        padding: 8px 0;
        width: 34%;
    }
    .bomb__calc-stick--plus1{
        width: 21px;
        height: 5px;
    } 
    .bomb__calc-stick--plus2{
        width: 21px;
        height: 5px;
        top: 15px;
    }
    .cards{
        width: 300px;
        height: 300px;
    }
    .cards__wrapper .card{
        width: 52px;
        height: 52px;
    }
    .card .back__view img{
        max-width: 40px;
    }
    .count{
        gap: 30px;
    }
    .count__coins,
    .count__bombs{
        padding: 7px 9px;
        font-size: 20px;
        width: 110px;
    }
    .count__coins-img{
        width: 47px;
    }
    .count__bombs-img{
        width: 50px;
    }
    .ratio{
        padding: 13px 17px;
    }
    .ratio::-webkit-scrollbar {
        width: 9px; 
        height: 9px; 
    }
    .ratio__item{
        padding: 18px
    }
    .history-game__title{
        font-size: 25px;
        padding: 28px 0 37px;
    }
    .history-game__table th {
        font-size: 14px;
        padding-bottom: 15px;
    }
    .history-game__table td {
        font-size: 12px;
        padding-top: 20px;
    }
    .history-game__content-player-img{
        width: 35px;
    }
}

@media (max-width: 920px) {
    .container{
        min-width: 840px;
    }
    .bet{
        padding: 38px 26px 28px 26px;
    }
    .bet__title{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .bet__input{
        margin-bottom: 30px;
        padding: 10px 16px;
    }
    .bet__input-warning{
        padding: 5px;
        font-size: 9px;
        left: 27px;
        top: 111px;
    }
    .bet__text{
        font-size: 17px;
    }
    .bet__btn{
        font-size: 17px;
    }
    .game{
        padding: 30px 30px 30px 30px;
    }
    .game__container{
        padding: 40px 0 34px 34px;
    }
    .overlay__content {
        width: 29vw;
        gap: 19px;
        padding: 70px 0;
    }
    .overlay__ratio{
        font-size: 40px;
        color: #FF6E1C;
    }
    .overlay__reward{
        font-size: 17px;
        color: #fff;
    }
    .bomb__container{
        margin-bottom: 44px;
    }
    .bomb__btn-container{
        width: 48%;
    }
    .bomb__btn{
        padding: 8px 8px;
        font-size: 17px;
        line-height: 20px; 
    }
    .bomb__calc{
        width: 46%;
    }
    .bomb__calc-btn{
        padding: 15px 8px;
    }
    .bomb__calc-stick--minus{
        width: 21px;
        height: 5px;
    }
    .bomb__calc-num{
        font-size: 18px;
        padding: 8px 0;
        width: 34%;
    }
    .bomb__calc-stick--plus1{
        width: 21px;
        height: 5px;
    } 
    .bomb__calc-stick--plus2{
        width: 21px;
        height: 5px;
        top: 15px;
    }
    .cards{
        width: 280px;
        height: 280px;
    }
    .cards__wrapper .card{
        width: 48px;
        height: 48px;
    }
    .card .back__view img{
        max-width: 35px;
    }
    .count{
        gap: 30px;
    }
    .count__coins,
    .count__bombs{
        padding: 7px 9px;
        font-size: 18px;
        width: 110px;
    }
    .count__coins-img{
        width: 43px;
    }
    .count__bombs-img{
        width: 45px;
    }
    .ratio{
        padding: 13px 17px;
    }
    .ratio::-webkit-scrollbar {
        width: 9px; 
        height: 9px; 
    }
    .ratio__item{
        padding: 15px
    }
    .history-game__title{
        font-size: 25px;
        padding: 28px 0 37px;
    }
    .history-game__table th {
        font-size: 14px;
        padding-bottom: 15px;
    }
    .history-game__table td {
        font-size: 12px;
        padding-top: 20px;
    }
    .history-game__content-player-img{
        width: 35px;
    }
}

@media (max-width: 840px) {
    .container{
        min-width: 750px;
    }
    .bet{
        padding: 38px 26px 28px 26px;
    }
    .bet__title{
        font-size: 20px;
    }
    .bet__input{
        margin-bottom: 30px;
        padding: 10px 16px;
        font-size: 12px;
    }
    .bet__text{
        font-size: 17px;
    }
    .bet__btn{
        font-size: 15px;
    }
    .game{
        padding: 20px 20px 20px 20px;
    }
    .game__container{
        padding: 30px 0 30px 30px;
    }
    .overlay__content {
        width: 29vw;
        gap: 19px;
        padding: 70px 0;
    }
    .overlay__ratio{
        font-size: 40px;
        color: #FF6E1C;
    }
    .overlay__reward{
        font-size: 17px;
        color: #fff;
    }
    .bomb__container{
        margin-bottom: 35px;
    }
    .bomb__btn-container{
        width: 48%;
    }
    .bomb__btn{
        padding: 8px 7px;
        font-size: 14px;
        line-height: 12px; 
    }
    .bomb__calc{
        width: 46%;
    }
    .bomb__calc-btn{
        padding: 12px 6px;
    }
    .bomb__calc-stick--minus{
        width: 17px;
        height: 3px;
    }
    .bomb__calc-num{
        font-size: 15px;
        padding: 5px 0;
        width: 34%;
    }
    .bomb__calc-stick--plus1{
        width: 17px;
        height: 3px;
    } 
    .bomb__calc-stick--plus2{
        width: 17px;
        height: 3px;
        top: 12px;
    }
    .cards{
        width: 250px;
        height: 250px;
    }
    .cards__wrapper .card{
        width: 42px;
        height: 42px;
    }
    .card .back__view img{
        max-width: 30px;
    }
    .count{
        gap: 30px;
    }
    .count__coins,
    .count__bombs{
        padding: 7px 9px;
        font-size: 15px;
        width: 100px;
    }
    .count__coins-img{
        width: 40px;
    }
    .count__bombs-img{
        width: 42px;
    }
    .ratio{
        padding: 13px 17px;
    }
    .ratio::-webkit-scrollbar {
        width: 7px; 
        height: 7px; 
    }
    .ratio__item{
        padding: 12px
    }
    .history-game__title{
        font-size: 25px;
        padding: 28px 0 37px;
    }
    .history-game__table th {
        font-size: 14px;
        padding-bottom: 15px;
    }
    .history-game__table td {
        font-size: 12px;
        padding-top: 20px;
    }
    .history-game__content-player-img{
        width: 35px;
    }
}

@media (max-width: 480px) {
    .mines-casino{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        gap: 20px;
    }
    .container{
        min-width: 100vw;
        margin: 0 auto;
    }
    .bet{
        padding: 21px 67px 49px;
        width: 100%;
        text-align: center;
    }
    .bet__title{
        font-size: 16px;
        padding-bottom: 21px;
        width: 100%;
    }
    .bet__input{
        margin-bottom: 30px;
        padding: 7px 12px;
        font-size: 12px;
    }
    .bet__input-warning{
        padding: 3px;
        font-size: 9px;
        left: 68px;
        top: 93px;
    }
    .bet__text{
        font-size: 15px;
        width: 100%;
        margin-bottom: 15px;
    }
    .bet__btn{
        font-size: 14px;
    }
    .bomb__btn{
        padding: 11px;
        font-size: 14px;
        line-height: 11px;
    }
    .bomb__calc-btn{
        padding: 15px 9px;
    }
    .bomb__calc-stick--minus{
        width: 15px;
        height: 3px;
    }
    .bomb__calc-num{
        font-size: 15px;
        padding: 7px 11px;
        border-radius: 10px;
    }
    .bomb__calc-stick--plus1{
        width: 15px;
        height: 3px;
    }
    .bomb__calc-stick--plus2{
        width: 15px;
        height: 3px;
        top: 15px;
    }
    .game{
        width: 100%;
        padding: 0 20px;
    }
    .game__container{
        gap: 20px;
        padding: 0 58px 23px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .overlay__content {
        width: 250px;
        gap: 10px;
        padding: 46px 0;
    }
    .cards{
        width: 302px;
        height: 302px;
    }
    .cards__wrapper .card{
        width: 52px;
        height: 52px;
    }
    .card .back__view img{
        max-width: 35px;
    }
    .count{
        gap: 22px;
        width: 112px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .count__coins,
    .count__bombs{
        padding: 7px 9px;
        font-size: 15px;
        width: 130px;
        border-radius: 16px;
        gap: 10px;
    }
    .count__coins-img{
        width: 30px;
    }
    .count__bombs-img{
        width: 45px;
    }
    .ratio{
        padding: 12px 15px;
    }
    .ratio::-webkit-scrollbar {
        width: 8px; 
        height: 8px; 
    }
    .ratio__item{
        padding: 12px;
    }
    .history-game{
        width: 100%;
        padding: 21px 21px 40px;
    }
    .history-game__title{
        font-size: 17px;
        padding: 21px 0 22px;
    }
    .history-game__header-ratio,
    .history-game__content-ratio{
        display: none;
    }
    .history-game__table th {
        font-size: 10px;
        padding-bottom: 9px;
        font-weight: light;
    }
    .history-game__table td {
        font-size: 8px;
        padding-top: 20px;
    }
    .history-game__header-win,
    .history-game__content-win{
        text-align: center;
    }
    .history-game__content-player-img{
        width: 24px;
    }
}

@media (max-width: 400px) {
    .bet{
        padding: 21px 47px 49px;
        width: 100%;
        text-align: center;
    }
    .bet__input-warning{
        padding: 3px;
        font-size: 9px;
        left: 48px;
        top: 93px;
    }
    .bomb__container{
        margin-bottom: 34px;
    }
    .bomb__btn{
        padding: 8px;
        font-size: 13px;
        line-height: 11px;
    }
    .bomb__calc-btn{
        padding: 13px 9px;
    }
    .bomb__calc-stick--minus{
        width: 13px;
        height: 3px;
    }
    .bomb__calc-num{
        font-size: 14px;
        padding: 7px 11px;
        border-radius: 10px;
    }
    .bomb__calc-stick--plus1{
        width: 13px;
        height: 3px;
    }
    .bomb__calc-stick--plus2{
        width: 13px;
        height: 3px;
        top: 13px;
    }
    .game__container{
        padding: 0 33px 23px;
    }
    .count__coins,
    .count__bombs{
        font-size: 15px;
        width: 130px;
        gap: 10px;
    }
    .cards{
        width: 253px;
        height: 253px;
    }
    .cards__wrapper .card{
        width: 46px;
        height: 45px;
    }
}

@media (max-width: 370px) {
    .bet{
        padding: 21px 37px 49px;
    }
    .bet__input-warning{
        padding: 3px;
        font-size: 9px;
        left: 38px;
        top: 93px;
    }
    .game__container{
        padding: 0 33px 23px;
    }
    .cards{
        width: 253px;
        height: 253px;
    }
    .cards__wrapper .card{
        width: 46px;
        height: 45px;
    }
}

@media (max-width: 330px) {
    .bet{
        padding: 21px 37px 49px;
    }
    .bet__input-warning{
        padding: 3px;
        font-size: 9px;
        left: 23px;
        top: 93px;
    }
    .game__container{
        padding: 0 33px 23px;
    }
    .cards{
        width: 235px;
        height: 235px;
    }
    .cards__wrapper .card{
        width: 40px;
        height: 40px;
    }
    .card .back__view img{
        max-width: 30px;
    }
}
@media (max-width: 300px) {
    .bet{
        padding: 21px 22px 49px;
    }
    .game__container{
        padding: 0 33px 23px;
    }
    .cards{
        width: 200px;
        height: 215px;
    }
    .cards__wrapper .card{
        width: 36px;
        height: 36px;
    }

    .card .back__view img{
        max-width: 27px;
    }
}